<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="myalice manga automation" parallel="false">
  <test name="Test Scenarios">
    <classes>
      <class name="test.automation.myalice.testcases.TestScenario01"/>
      <class name="test.automation.myalice.testcases.TestScenario02"/>
      <class name="test.automation.myalice.testcases.TestScenario03"/>
    </classes>
  </test>
</suite>
